<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">YouTube Video Downloader</h5>
          <div class="row align-items-center">

            <div class="input-container">
              <input type="text" [(ngModel)]="videoUrl" #urlInput="ngModel" placeholder="Enter YouTube URL" required
                pattern="https:\/\/(www\.)?youtube\.com\/.*">
              <button class="button" (click)="getVideoFormats()">Fetch</button>
            </div>

            <div *ngIf="submitted && urlInput.errors?.['required']" class="error-message error-required">
              URL is required.
            </div>
            <div *ngIf="submitted &&  urlInput.errors?.['pattern']" class="error-message error-pattern">
              Invalid YouTube URL.
            </div>


          </div>

          <div *ngIf="videoQualities.length > 0" class="mt-4">
            <h6>Available Video Qualities:</h6>
            <ul class="list-group">
              <li *ngFor="let quality of videoQualities"
                class="list-group-item d-flex justify-content-between align-items-center custom-list-item">
                {{ quality.format_note }} ({{ quality.resolution }})
                <button class="btn btn-success btn-sm custom-button" (click)="downloadVideo(quality)">Download</button>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<app-loader></app-loader>