<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Outer Circle -->
        <circle cx="12" cy="12" r="10" stroke="#ff5500" stroke-width="2" fill="none" />

        <!-- Download Arrow -->
        <path d="M8 11L12 15L16 11" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

        <!-- Horizontal Line -->
        <path d="M8 15H16" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

        <!-- Inner Circle -->
        <circle cx="12" cy="12" r="4" stroke="#ff5500" stroke-width="2" fill="#2b2d36" />
      </svg>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-tab" [ngClass]="{ 'inactive-tab': !isActive('/youtube') }"
        routerLink="/youtube">Youtube</a>
      <a mat-list-item routerLinkActive="active-tab" [ngClass]="{ 'inactive-tab': !isActive('/instagram') }"
        routerLink="/instagram">Insta</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>

        <app-navbar></app-navbar>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>